<!DOCTYPE html>
<html lang="en">

<head>
	<title>科大国创VR智能客服</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body>

	<div id="container"></div>

	<video id="video" muted crossOrigin="anonymous" playsinline  style="display:none">
		<source src="../videos/kdgc.mp4">
	</video>

	<video id="callloading" loop crossOrigin="anonymous" playsinline  style="display:none">
		<source src="../videos/call.mp4">
	</video>

	<video id="build" autoplay muted src="../videos/build.mp4"></video>

	<script src="../plugins/jquery-1.10.2.min.js"></script>
	<script type="module" src="../js/index.js"></script>
</body>

</html>
